<h1>Stupid Coaching</h1>
<p id="no-padding">Ask your coach anything:</p>
<form action="/answer" method="GET">
  <input type="text" name="ask_coach" id="text-box">
  <input type="submit" value="Ask!" id="button">
</form>
